@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f3f4f6;
  /* soft grey background */
  color: #1f2937;
}

.dark :root {
  background-color: #111827;
  /* dark gray background */
  color: #f9fafb;
}

html.dark body {
  background-color: #111827;
  color: #f9fafb;
}