@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile optimizations */
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}